{% extends 'base.html.twig' %}

{% block title %}Hello ConvController!{% endblock %}

{% block body %}

<div>
      </br></br></br>
	  <a href="/conv/new2">Nouvelle Convention Première Année</a>
	  </br></br></br></br></br></br>
	  <a href="/conv/new">Nouvelle Convention Deuxième Année</a>
</div>
{% endblock %}
