{% extends 'base.html.twig' %}

{% block title %}New Convention{% endblock %}

{% block body %}
   <div align = center>
   <h1>Convention Première Année</h1>
  

    {{ include('conv/_form.html.twig') }}

  <a href="/index.php/conv/"><font size="5"><font color = #0000CD>Retour</font></a>
  </div>
{% endblock %}
